#N
@min_distance=0.8
sample_i_in.*
sample_q_in.*
sample_valid_in
sample_ready_out
feedback_i_in.*
feedback_q_in.*
feedback_valid_in

#S
@min_distance=0.8
sample_i_out.*
sample_q_out.*
sample_valid_out
sample_ready_in
train_request
supervisor_state.*
dpd_active
irq

#E
@min_distance=0.8
s_axi_awaddr.*
s_axi_awvalid
s_axi_awready
s_axi_wdata.*
s_axi_wstrb.*
s_axi_wvalid
s_axi_wready
s_axi_bresp.*
s_axi_bvalid
s_axi_bready

#W
@min_distance=0.8
clk
resetn
sync_event
s_axi_araddr.*
s_axi_arvalid
s_axi_arready
s_axi_rdata.*
s_axi_rresp.*
s_axi_rvalid
s_axi_rready
