#N
@min_distance=0.8
sample_i_i.*
sample_q_i.*
in_valid_i
in_ready_o

#S
@min_distance=0.8
sample_i_o.*
sample_q_o.*
out_valid_o
out_ready_i
busy_o

#E
@min_distance=0.8
coef_data_i.*
coef_addr_o.*

#W
@min_distance=0.8
clk
resetn
enable_i
reload_coeffs_i
