#N
ref_i_00
ref_i_01
ref_i_02
ref_i_03
ref_i_04
ref_i_05
ref_i_06
ref_i_07
ref_i_08
ref_i_09
ref_i_10
ref_i_11
ref_i_12
ref_i_13
ref_i_14
ref_i_15
ref_q_00
ref_q_01
ref_q_02
ref_q_03
ref_q_04
ref_q_05
ref_q_06
ref_q_07
ref_q_08
ref_q_09
ref_q_10
ref_q_11
ref_q_12
ref_q_13
ref_q_14
ref_q_15
sample_valid
sample_ready

#E
out_i_00
out_i_01
out_i_02
out_i_03
out_i_04
out_i_05
out_i_06
out_i_07
out_i_08
out_i_09
out_i_10
out_i_11
out_i_12
out_i_13
out_i_14
out_i_15
out_q_00
out_q_01
out_q_02
out_q_03
out_q_04
out_q_05
out_q_06
out_q_07
out_q_08
out_q_09
out_q_10
out_q_11
out_q_12
out_q_13
out_q_14
out_q_15
out_valid
out_ready

#S
fb_i_00
fb_i_01
fb_i_02
fb_i_03
fb_i_04
fb_i_05
fb_i_06
fb_i_07
fb_i_08
fb_i_09
fb_i_10
fb_i_11
fb_i_12
fb_i_13
fb_i_14
fb_i_15
fb_q_00
fb_q_01
fb_q_02
fb_q_03
fb_q_04
fb_q_05
fb_q_06
fb_q_07
fb_q_08
fb_q_09
fb_q_10
fb_q_11
fb_q_12
fb_q_13
fb_q_14
fb_q_15
flash_sck
flash_mosi
flash_miso
flash_cs

#W
clk
resetn
uart_tx
uart_rx
