#N
@min_distance=0.8
uart_.*

#S
@min_distance=0.8
spi_.*

#E
@min_distance=0.8
irq.*
retrain_request
capture_done
coef_switch_done
metrics_valid
metric_retrain_request

#W
@min_distance=0.8
clk
resetn
