#N
@min_distance=0.8
ref_i.*
ref_q.*
fb_i.*
fb_q.*
sample_valid

#S
@min_distance=0.8
dpd_i.*
dpd_q.*
dpd_valid

#E
@min_distance=0.8
metric_power.*
metric_error.*
metric_clipping.*
metric_drift.*
metrics_valid
retrain_request

#W
@min_distance=0.8
clk
resetn
clear
threshold_error.*
threshold_clip.*
threshold_drift.*
