#N
@min_distance=0.8
mac_rdata_a.*
mac_addr.*
mac_rdata_b.*

#S
@min_distance=0.8
cpu_rdata_a.*
cpu_we.*
cpu_addr.*
cpu_wdata.*
train_.*
cpu_rdata_b.*

#E
@min_distance=0.8

#W
@min_distance=0.8
clk
resetn
