#N
@min_distance=0.8
ref_.*
fb_.*
sample_valid
start
capture_len.*

#S
@min_distance=0.8
rd_addr.*
rd_data.*

#E
@min_distance=0.8
busy
done
snapshot_page
capture_ready
snapshot_lock

#W
@min_distance=0.8
clk
resetn
