#N
@min_distance=0.8
m_awaddr.*
m_awvalid
m_awready
m_wdata.*
m_wstrb.*
m_wvalid
m_wready
m_b.*
m_araddr.*
m_arvalid
m_arready
m_r.*

#S
@min_distance=0.8
ram_.*
flash_.*

#E
@min_distance=0.8
enable
force_bypass
capture_.*
train_.*
coef_.*
threshold_.*
feedback_delay.*

#W
@min_distance=0.8
clk
resetn
uart_.*
spi_.*
irq.*
metric_.*
mac_error_acc.*
dpd_active
active_bank
